<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
<h1>Greeting</h1>
<ul>

    <li><%= greeting %> </li>

</ul>
</body>
</html>